node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Visual Studio
.vs/

# Arquivos e diretórios adicionados
db.json
src/api/api.js
